.landingpage {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    min-width: 1440px;
    min-height: 5189px;
    position: relative;
}

.landingpage .rectangle {
    position: absolute;
    top: 1506px;
    left: 1px;
    width: 1440px;
    height: 2083px;
    background: linear-gradient(
        180deg,
        rgba(248, 248, 248, 1) 0%,
        rgba(248, 248, 248, 0) 100%
    );
}

.landingpage .div {
    position: absolute;
    top: 4626px;
    left: 0;
    width: 1440px;
    height: 563px;
    background-color: #f8f8f8;
}

.landingpage .rectangle-2 {
    position: absolute;
    top: 4526px;
    left: 181px;
    width: 1077px;
    height: 250px;
    background-color: #0d0f25;
    border-radius: 10px;
    filter: blur(57px);
    opacity: 0.06;
}

.landingpage .logo {
    position: absolute;
    top: 4806px;
    left: 150px;
    width: 150px;
    height: 36px;
    display: flex;
    gap: 10px;
}

.landingpage .standard-collection {
    width: 35px;
    height: 36.23px;
    background-image: url(./img/vector-5.svg);
    background-size: 100% 100%;
}

.landingpage .lasles-VPN {
    margin-top: 6.1px;
    width: 103px;
    height: 24px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 400;
    color: #0b132a;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .text-wrapper {
    font-weight: 500;
}

.landingpage .span {
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
}

.landingpage .p {
    position: absolute;
    top: 1135px;
    left: 862px;
    width: 428px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .let-s-choose-the {
    position: absolute;
    top: 1657px;
    left: 442px;
    width: 555px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .see-laslesvpn {
    position: absolute;
    top: 2807px;
    left: 442px;
    width: 555px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .text-wrapper-2 {
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .text-wrapper-3 {
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
}

.landingpage .text-wrapper-4 {
    position: absolute;
    top: 1215px;
    left: 896px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-5 {
    position: absolute;
    top: 1260px;
    left: 896px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-6 {
    position: absolute;
    top: 1305px;
    left: 900px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-7 {
    position: absolute;
    top: 1350px;
    left: 896px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-8 {
    position: absolute;
    top: 1015px;
    left: 862px;
    width: 383px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 50px;
}

.landingpage .text-wrapper-9 {
    position: absolute;
    top: 1587px;
    left: 528px;
    width: 383px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
}

.landingpage .text-wrapper-10 {
    position: absolute;
    top: 2687px;
    left: 528px;
    width: 383px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
}

.landingpage .group {
    position: absolute;
    top: 1218px;
    left: 862px;
    width: 24px;
    height: 24px;
    display: flex;
}

.landingpage .vector-wrapper {
    width: 24px;
    height: 24px;
    display: flex;
}

.landingpage .vector {
    flex: 1;
    width: 20px;
}

.landingpage .img {
    position: absolute;
    top: 1263px;
    left: 862px;
    width: 24px;
    height: 24px;
}

.landingpage .bx-bxs-check-circle-wrapper {
    position: absolute;
    top: 1308px;
    left: 862px;
    width: 24px;
    height: 24px;
    display: flex;
}

.landingpage .bx-bxs-check-circle {
    position: absolute;
    top: 1353px;
    left: 862px;
    width: 24px;
    height: 24px;
    display: flex;
}

.landingpage .rectangle-3 {
    position: absolute;
    top: 1777px;
    left: 935px;
    width: 330px;
    height: 760px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #f53737;
}

.landingpage .text-wrapper-11 {
    position: absolute;
    top: 2052px;
    left: 1040px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .element-mo {
    position: absolute;
    top: 2392px;
    left: 1048px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-12 {
    font-weight: 500;
    color: #0b132a;
}

.landingpage .text-wrapper-13 {
    font-family: "Rubik-Regular", Helvetica;
    color: #4f5665;
}

.landingpage .rectangle-4 {
    position: absolute;
    top: 1777px;
    left: 555px;
    width: 330px;
    height: 760px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #dddddd;
}

.landingpage .text-wrapper-14 {
    position: absolute;
    top: 2052px;
    left: 658px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .element-mo-2 {
    position: absolute;
    top: 2392px;
    left: 674px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .rectangle-5 {
    position: absolute;
    top: 1777px;
    left: 175px;
    width: 330px;
    height: 760px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #dddddd;
}

.landingpage .text-wrapper-15 {
    top: 2052px;
    left: 299px;
    font-size: 18px;
    position: absolute;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-16 {
    top: 2392px;
    left: 313px;
    font-size: 25px;
    position: absolute;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .button-nonact-select {
    left: 251px;
    position: absolute;
    top: 2442px;
    width: 180px;
    height: 45px;
}

.landingpage .rectangle-6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 178px;
    height: 45px;
    border-radius: 50px;
    border: 2px solid;
    border-color: #f53737;
}

.landingpage .text-wrapper-17 {
    color: #f53737;
    position: absolute;
    top: 13px;
    left: 63px;
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .button-nonact-select-2 {
    left: 631px;
    position: absolute;
    top: 2442px;
    width: 180px;
    height: 45px;
}

.landingpage .button-act-select {
    position: absolute;
    top: 2442px;
    left: 1011px;
    width: 180px;
    height: 62px;
}

.landingpage .rectangle-7 {
    position: absolute;
    top: 17px;
    left: 25px;
    width: 127px;
    height: 45px;
    background-color: #f5373759;
    border-radius: 60px;
    filter: blur(27px);
}

.landingpage .rectangle-8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 178px;
    height: 45px;
    background-color: #f53737;
    border-radius: 50px;
}

.landingpage .text-wrapper-18 {
    color: #ffffff;
    position: absolute;
    top: 13px;
    left: 63px;
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .group-2 {
    position: absolute;
    top: 4809px;
    left: 720px;
    width: 88px;
    height: 280px;
    display: flex;
    flex-direction: column;
}

.landingpage .text-wrapper-19 {
    width: 71px;
    height: 30px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-20 {
    width: 74px;
    height: 30px;
    margin-top: 20px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-21 {
    width: 53px;
    height: 30px;
    margin-top: 10px;
    line-height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

.landingpage .text-wrapper-22 {
    width: 73px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-23 {
    width: 49px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-24 {
    width: 34px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-3 {
    position: absolute;
    top: 4809px;
    left: 920px;
    width: 137px;
    height: 280px;
    display: flex;
    flex-direction: column;
}

.landingpage .text-wrapper-25 {
    width: 66px;
    height: 30px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-26 {
    width: 91px;
    height: 30px;
    margin-top: 20px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-27 {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-28 {
    width: 64px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-29 {
    width: 69px;
    height: 30px;
    margin-top: 10px;
    color: #4f5665;
    line-height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

.landingpage .text-wrapper-30 {
    width: 103px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-31 {
    width: 123px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-wrapper {
    position: absolute;
    width: 121px;
    height: 120px;
    top: 4809px;
    left: 1169px;
    display: flex;
}

.landingpage .group-4 {
    width: 127px;
    height: 120px;
    display: flex;
    flex-direction: column;
}

.landingpage .text-wrapper-32 {
    width: 102px;
    height: 30px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-33 {
    width: 56px;
    height: 30px;
    margin-top: 20px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-34 {
    width: 121px;
    height: 30px;
    margin-top: 10px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .laslesvpn-is-a {
    position: absolute;
    top: 4862px;
    left: 150px;
    width: 340px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .text-wrapper-35 {
    font-family: "Rubik-Regular", Helvetica;
}

.landingpage .element-lasles-VPN {
    position: absolute;
    top: 5017px;
    left: 150px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #afb5c0;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-36 {
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #afb5c0;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .group-5 {
    position: absolute;
    top: 3854px;
    left: 156px;
    width: 1312px;
    height: 590px;
}

.landingpage .rectangle-9 {
    position: absolute;
    top: 240px;
    left: 41px;
    width: 318px;
    height: 301px;
    background-color: #0d0f25;
    border-radius: 10px;
    filter: blur(57px);
    opacity: 0.06;
}

.landingpage .text-wrapper-37 {
    position: absolute;
    top: 120px;
    left: 292px;
    width: 555px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .text-wrapper-38 {
    position: absolute;
    top: 0;
    left: 346px;
    width: 448px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0;
    line-height: 50px;
}

.landingpage .rectangle-10 {
    position: absolute;
    top: 240px;
    left: 0;
    width: 400px;
    height: 230px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid;
    border-color: #f53737;
}

.landingpage .rectangle-11 {
    position: absolute;
    top: 240px;
    left: 450px;
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #dddddd;
}

.landingpage .rectangle-12 {
    position: absolute;
    top: 240px;
    left: 900px;
    width: 400px;
    height: 230px;
    border-radius: 10px;
    border: 2px solid;
    border-color: #dddddd;
}

.landingpage .group-6 {
    position: absolute;
    top: 552px;
    left: 0;
    width: 135px;
    height: 15px;
}

.landingpage .group-7 {
    position: absolute;
    top: 270px;
    left: 30px;
    width: 186px;
    height: 50px;
}

.landingpage .ellipse {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.landingpage .text-wrapper-39 {
    position: absolute;
    top: 6px;
    left: 70px;
    width: 112px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-40 {
    position: absolute;
    top: 30px;
    left: 71px;
    width: 101px;
    height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-8 {
    position: absolute;
    top: 270px;
    left: 480px;
    width: 216px;
    height: 52px;
}

.landingpage .text-wrapper-41 {
    position: absolute;
    top: 6px;
    left: 70px;
    width: 142px;
    height: 18px;
    display: flex;
    align-items: center;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-42 {
    position: absolute;
    top: 22px;
    left: 71px;
    height: 30px;
    display: flex;
    align-items: center;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-9 {
    position: absolute;
    top: 270px;
    left: 930px;
    width: 216px;
    height: 50px;
}

.landingpage .text-wrapper-43 {
    position: absolute;
    top: 30px;
    left: 71px;
    width: 127px;
    height: 14px;
    display: flex;
    align-items: center;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-44 {
    position: absolute;
    top: 340px;
    left: 30px;
    width: 340px;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #0b132a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .text-wrapper-45 {
    position: absolute;
    top: 328px;
    left: 480px;
    width: 340px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #0b132a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .text-wrapper-46 {
    position: absolute;
    top: 323px;
    left: 930px;
    width: 340px;
    height: 100px;
    display: flex;
    align-items: center;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #0b132a;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .button-nonact-left {
    position: absolute;
    top: 530px;
    left: 1000px;
    width: 60px;
    height: 60px;
}

.landingpage .button-act-right {
    position: absolute;
    top: 500px;
    left: 1036px;
    width: 148px;
    height: 148px;
}

.landingpage .text-wrapper-47 {
    position: absolute;
    top: 287px;
    left: 320px;
    width: 24px;
    height: 16px;
    display: flex;
    align-items: center;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    color: #0b132a;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .ant-design-star-wrapper {
    position: absolute;
    top: 287px;
    left: 358px;
    width: 16px;
    height: 16px;
    display: flex;
}

.landingpage .ant-design-star {
    width: 16px;
    height: 16px;
    display: flex;
}

.landingpage .vector-2 {
    flex: 1;
    width: 13.23px;
}

.landingpage .group-10 {
    position: absolute;
    top: 287px;
    left: 770px;
    width: 52px;
    height: 17px;
    display: flex;
    gap: 10px;
}

.landingpage .text-wrapper-48 {
    display: flex;
    align-items: center;
    margin-top: 0.7px;
    width: 24px;
    height: 16px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    color: #0b132a;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .div-wrapper {
    width: 16px;
    display: flex;
}

.landingpage .group-11 {
    position: absolute;
    top: 287px;
    left: 1220px;
    width: 52px;
    height: 17px;
    display: flex;
    gap: 10px;
}

.landingpage .socmed-facebook {
    left: 150px;
    position: absolute;
    top: 4954px;
    width: 34px;
    height: 34px;
    background-color: #f53737;
    border-radius: 16.8px;
    box-shadow: 0px 13px 18px #10122314;
    background-image: url(./img/vector-23.svg);
    background-size: 100% 100%;
}

.landingpage .socmed-twitter {
    left: 204px;
    position: absolute;
    top: 4954px;
    width: 34px;
    height: 34px;
    background-color: #f53737;
    border-radius: 16.8px;
    box-shadow: 0px 13px 18px #10122314;
    background-image: url(./img/vector-11.svg);
    background-size: 100% 100%;
}

.landingpage .socmed-instagram {
    left: 257px;
    position: absolute;
    top: 4954px;
    width: 34px;
    height: 34px;
    background-color: #f53737;
    border-radius: 16.8px;
    box-shadow: 0px 13px 18px #10122314;
    background-image: url(./img/vector.svg);
    background-size: 100% 100%;
}

.landingpage .sponsored {
    position: absolute;
    width: 1136px;
    height: 208px;
    top: 3596px;
    left: 145px;
    display: flex;
}

.landingpage .mask-group {
    margin-top: 47.9px;
    width: 200px;
    display: flex;
    gap: 1084px;
}

.landingpage .rectangle-13 {
    margin-top: 26.2px;
    width: 190px;
    height: 60px;
    margin-left: 5px;
}

.landingpage .image {
    width: 200px;
    height: 112.5px;
    margin-top: 2595px;
    object-fit: cover;
}

.landingpage .mask-group-2 {
    margin-top: 81.1px;
    width: 156.25px;
    margin-left: 40px;
    display: flex;
    gap: 1122.8px;
}

.landingpage .rectangle-14 {
    width: 156.25px;
    height: 50.62px;
}

.landingpage .image-2 {
    width: 156.25px;
    height: 50.62px;
    margin-top: 2595px;
    object-fit: cover;
}

.landingpage .mask-group-3 {
    width: 277.76px;
    margin-left: 39.9px;
    display: flex;
    gap: 1045.1px;
}

.landingpage .rectangle-15 {
    margin-top: 74.2px;
    width: 190px;
    height: 60px;
    margin-left: 43.9px;
}

.landingpage .image-3 {
    width: 277.76px;
    height: 208.32px;
    margin-top: 2595px;
    object-fit: cover;
}

.landingpage .mask-group-4 {
    margin-top: 74.2px;
    width: 187.02px;
    height: 63.59px;
    margin-left: 3.6px;
}

.landingpage .mask-group-5 {
    margin-top: 78.5px;
    width: 171.28px;
    height: 51.34px;
    margin-left: 59.8px;
}

.landingpage .huge-global {
    position: absolute;
    top: 3051px;
    left: 176px;
    width: 1060px;
    height: 538px;
}

.landingpage .group-12 {
    position: absolute;
    top: 4509px;
    left: 150px;
    width: 1140px;
    height: 233px;
    display: flex;
    gap: 341px;
    background-color: #ffffff;
    border-radius: 10px;
}

.landingpage .group-13 {
    margin-top: 58.5px;
    width: 409px;
    height: 116px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.landingpage .text-wrapper-49 {
    display: flex;
    align-items: center;
    width: 367.08px;
    height: 80px;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    color: #0b132a;
    font-size: 35px;
    letter-spacing: 0;
    line-height: 45px;
}

.landingpage .let-s-subscribe-with {
    display: flex;
    align-items: center;
    width: 405px;
    height: 16px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .button-subscribe-now {
    margin-top: 86.5px;
    width: 252px;
    height: 85.29px;
    position: relative;
}

.landingpage .rectangle-16 {
    position: absolute;
    top: 25px;
    left: 19px;
    width: 212px;
    height: 60px;
    background-color: #f5373759;
    border-radius: 10px;
    filter: blur(27px);
}

.landingpage .rectangle-17 {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 60px;
    background-color: #f53737;
    border-radius: 10px;
}

.landingpage .text-wrapper-50 {
    position: absolute;
    top: 18px;
    left: 65px;
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.landingpage .rectangle-18 {
    position: absolute;
    top: 717px;
    left: 186px;
    width: 1069px;
    height: 189px;
    background-color: #0d0f25;
    border-radius: 10px;
    filter: blur(57px);
    opacity: 0.06;
}

.landingpage .rectangle-19 {
    position: absolute;
    top: 665px;
    left: 150px;
    width: 1140px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
}

.landingpage .group-14 {
    position: absolute;
    top: 56px;
    left: 150px;
    width: 150px;
    height: 36px;
    display: flex;
    gap: 10px;
}

.landingpage .standard-collection-2 {
    width: 35px;
    height: 36.23px;
    background-image: url(./img/vector-8.svg);
    background-size: 100% 100%;
}

.landingpage .text-wrapper-51 {
    position: absolute;
    top: 59px;
    left: 648px;
    line-height: normal;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

.landingpage .text-wrapper-52 {
    position: absolute;
    top: 59px;
    left: 542px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .text-wrapper-53 {
    position: absolute;
    top: 59px;
    left: 740px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .text-wrapper-54 {
    position: absolute;
    top: 59px;
    left: 457px;
    color: #444444;
    line-height: normal;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    white-space: nowrap;
}

.landingpage .text-wrapper-55 {
    position: absolute;
    top: 59px;
    left: 873px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .text-wrapper-56 {
    top: 55px;
    left: 1072px;
    color: #0b132a;
    position: absolute;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .button-signup {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    top: 46px;
    left: 1154px;
    width: 152px;
    height: 45px;
}

.landingpage .rectangle-20 {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 45px;
    border-radius: 50px;
    border: 1px solid;
    border-color: #f53855;
}

.landingpage .text-wrapper-57 {
    top: 13px;
    left: 45px;
    color: #f53855;
    position: absolute;
    font-family: "Rubik-Medium", Helvetica;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
}

.landingpage .want-anything-to-be {
    position: absolute;
    top: 227px;
    left: 145px;
    width: 508px;
    height: 116px;
}

.landingpage .provide-a-network {
    position: absolute;
    top: 367px;
    left: 150px;
    width: 555px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 30px;
}

.landingpage .button-get-started {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    top: 477px;
    left: 150px;
    width: 252px;
    height: 84px;
}

.landingpage .rectangle-21 {
    position: absolute;
    top: 24px;
    left: 30px;
    width: 212px;
    height: 60px;
    background-color: #f5373759;
    border-radius: 10px;
    filter: blur(27px);
}

.landingpage .rectangle-22 {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 60px;
    background-color: #f54646;
    border-radius: 10px;
}

.landingpage .text-wrapper-58 {
    position: absolute;
    top: 18px;
    left: 78px;
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
    white-space: nowrap;
}

.landingpage .group-15 {
    position: absolute;
    width: 91px;
    height: 65px;
    top: 732px;
    left: 720px;
    display: flex;
}

.landingpage .group-16 {
    width: 95px;
    height: 65px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.landingpage .text-wrapper-59 {
    width: 49px;
    height: 30px;
    font-family: "Rubik-Bold", Helvetica;
    font-weight: 700;
    font-size: 25px;
    color: #0b132a;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .text-wrapper-60 {
    width: 91px;
    height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-17 {
    position: absolute;
    top: 732px;
    left: 332px;
    width: 58px;
    height: 65px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.landingpage .text-wrapper-61 {
    width: 54px;
    height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-18 {
    position: absolute;
    width: 71px;
    height: 65px;
    top: 732px;
    left: 1128px;
    display: flex;
}

.landingpage .group-19 {
    width: 75px;
    height: 65px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.landingpage .text-wrapper-62 {
    width: 71px;
    height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4f5665;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .vector-3 {
    position: absolute;
    top: 701px;
    left: 514px;
    width: 2px;
    height: 128px;
}

.landingpage .vector-4 {
    position: absolute;
    top: 701px;
    left: 944px;
    width: 2px;
    height: 128px;
}

.landingpage .icon-location {
    position: absolute;
    top: 737px;
    left: 628px;
    width: 55px;
    height: 55px;
    display: flex;
    background-color: #ffebeb;
    border-radius: 70px;
}

.landingpage .gridicons-location-wrapper {
    margin-top: 15.5px;
    width: 24px;
    margin-left: 15.5px;
    display: flex;
}

.landingpage .vector-5 {
    flex: 1;
    width: 14px;
}

.landingpage .icon-user {
    position: absolute;
    top: 737px;
    left: 241px;
    width: 55px;
    height: 55px;
    display: flex;
    background-color: #ffebeb;
    border-radius: 70px;
}

.landingpage .group-20 {
    margin-top: 15.5px;
    width: 24px;
    height: 24px;
    margin-left: 15.5px;
}

.landingpage .icon-server {
    position: absolute;
    top: 737px;
    left: 1037px;
    width: 55px;
    height: 55px;
}

.landingpage .group-21 {
    position: absolute;
    width: 191px;
    height: 150px;
    top: 2112px;
    left: 245px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.landingpage .group-22 {
    margin-left: 0.1px;
    width: 183.17px;
    display: flex;
    gap: 20.2px;
}

.landingpage .jam-check-wrapper {
    margin-top: 3px;
    width: 24px;
    display: flex;
}

.landingpage .vector-6 {
    flex: 1;
    width: 13.33px;
}

.landingpage .text-wrapper-63 {
    width: 137px;
    height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-23 {
    margin-left: 0;
    width: 193.24px;
    height: 30px;
    position: relative;
}

.landingpage .text-wrapper-64 {
    position: absolute;
    top: 0;
    left: 44px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-24 {
    position: absolute;
    width: 12.42%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .jam-check {
    flex: 1;
    width: 24px;
    display: flex;
}

.landingpage .group-25 {
    margin-left: 0.3px;
    width: 142px;
    height: 30px;
    position: relative;
}

.landingpage .group-26 {
    position: absolute;
    width: 16.9%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .group-27 {
    width: 179.26px;
    height: 30px;
    position: relative;
}

.landingpage .group-28 {
    position: absolute;
    width: 13.39%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .group-29 {
    position: absolute;
    width: 191px;
    height: 190px;
    top: 2112px;
    left: 625px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.landingpage .group-30 {
    margin-left: 0.2px;
    width: 182.36px;
    display: flex;
    gap: 20.4px;
}

.landingpage .text-wrapper-65 {
    width: 136px;
    height: 30px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-31 {
    margin-left: 0.4px;
    width: 192.18px;
    height: 30px;
    position: relative;
}

.landingpage .group-32 {
    position: absolute;
    width: 12.49%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .group-33 {
    width: 146.54px;
    height: 30px;
    position: relative;
}

.landingpage .text-wrapper-66 {
    position: absolute;
    top: 0;
    left: 45px;
    font-family: "Rubik-Regular", Helvetica;
    font-weight: 400;
    color: #4e5664;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
}

.landingpage .group-34 {
    position: absolute;
    width: 16.38%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .group-35 {
    width: 178.54px;
    height: 30px;
    position: relative;
}

.landingpage .group-36 {
    position: absolute;
    width: 13.44%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .group-37 {
    margin-left: 0.5px;
    width: 162px;
    height: 30px;
    position: relative;
}

.landingpage .group-38 {
    position: absolute;
    width: 14.81%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .group-39 {
    position: absolute;
    width: 191px;
    height: 230px;
    top: 2112px;
    left: 1005px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.landingpage .group-40 {
    width: 147.54px;
    height: 30px;
    position: relative;
}

.landingpage .group-41 {
    position: absolute;
    width: 16.27%;
    height: 80%;
    top: 10%;
    left: 0;
    display: flex;
}

.landingpage .illustration {
    position: absolute;
    top: 182px;
    left: 714px;
    width: 637px;
    height: 382px;
}

.landingpage .illustration-2 {
    position: absolute;
    top: 1856px;
    left: 647px;
    width: 146px;
    height: 166px;
}

.landingpage .illustration-free {
    position: absolute;
    top: 1856px;
    left: 267px;
    width: 146px;
    height: 166px;
}

.landingpage .illustration-premium {
    position: absolute;
    top: 1856px;
    left: 1027px;
    width: 146px;
    height: 166px;
}

.landingpage .illustration-3 {
    position: absolute;
    top: 960px;
    left: 184px;
    width: 509px;
    height: 415px;
}
